<div class="content">
    <h2 class="content-title">Remove a Customer</h2>

    <%= form_for(@customer, method: 'delete', url: customer_path(@customer)) do |form| %>

        <p><%= "Are you sure you want to permanently remove customer #{@customer.full_name}?" %></p>
        <br>

        <div class="button">
            <%= form.submit "Remove Customer", class: "button" %> <%= link_to 'Back to Customer List', customers_path %>
        </div>

    <% end %>
</div>
