<div class="content">
    <h2 class="content-title"> Add a New Customer </h2>

    <%= render "form", customer: @customer %>

    <br>

    <div class="button">
        <%= link_to 'Back to Customer List', customers_path %>
    </div>
</div>