<div class="content">
    <h2 class="content-title"> Add New Transation </h1>

    <h3><%= notice %></h3> <br>

    <%= render "form", rental: @rental %>

    <br>

    <div class="button">
        <%= link_to 'Back to Rentals', rentals_path %>
    </div>

</div>