<div class="content">
    <h2 class="content-title">Remove Car</h2>

    <%= form_for(@car, method: 'delete', url: car_path(@car)) do |form| %>

        <p>Are you sure you want to permanently remove this car?</p>
        <p> <%= "#{@car.make} #{@car.model} with Plate Number: #{@car.plate_number}" %> </p><br>

        <div class="button">
            <%= form.submit "Remove Car" %> <%= link_to 'Back to Car List', cars_path %>
        </div>

    <% end %>
</div>
