<div class="content">
    <h2 class="content-title"> New Car </h2>

    <%= render "form", car: @car %>

    <br>

    <div class="button">
        <%= link_to 'Back to Car List', cars_path %>
    </div>
</div>